#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\Model\UserManager
	- App\Forms\FormFactory
	- App\Forms\SignInFormFactory
	- App\Forms\SignUpFormFactory
	router: App\RouterFactory::createRouter
	- Kapcus\DbChanger\Model\DbChangeFactory
	- Kapcus\DbChanger\Model\Manager
	- Kapcus\DbChanger\Model\Database\Oracle
	- Kapcus\DbChanger\Model\DibiStorage(%dbchanger.database%)
	- Kapcus\DbChanger\Model\DibiExecutor(%dbchanger.logDirectory%)
	- Kapcus\DbChanger\Model\Loader(%dbchanger.inputDirectory%)
	- Kapcus\DbChanger\Model\Generator(%dbchanger.outputDirectory%)
	- Kapcus\DbChanger\Model\Descriptor(%dbchanger.groups%, %dbchanger.manualGroups%, %dbchanger.environments%)

	- Kapcus\DbChanger\Command\InitCommand
	- Kapcus\DbChanger\Command\InstallCommand
	- Kapcus\DbChanger\Command\GenerateCommand
	- Kapcus\DbChanger\Command\RegisterCommand

extensions:
    console: Contributte\Console\DI\ConsoleExtension

console:
    name: Testing Consolka
    version: 2.4
    url: https://dhl.com
