parameters:
    dbchanger:
        database:
        	driver: oracle
        	host: localhost
        	username: xxxx
        	password: xxxxx
        	database: dbname
        inputDirectory: 'c:\workgit\dbchanger\misc\3.10.3\'
        outputDirectory: 'c:\workgit\dbchanger\misc\output'
        logDirectory: 'c:\workgit\dbchanger\misc\log'
        groups: [central, region, home, operations]
        manualGroups: [operations]
        environments:

            XXX:
                name: XXXXXXX
                description: XXXXXXX Environment
                groups:
                    central: [MAINUSER]
                    region: [SLAVEUSER1, SLAVEUSER2]
                    operations: [MAINUSER, SLAVEUSER1, SLAVEUSER2]
                placeholders:
                    '<central>': MAINUSER
                    '<user>': READERUSER
                    '<systemuser>': KAPCUS


database:
	dsn: 'mysql:host=127.0.0.1;dbname=test'
	user:
	password:
	options:
		lazy: yes
