parameters:
	dbchanger:
		inputDirectory: 'misc\sampledata\'
		outputDirectory: 'output'
		logDirectory: 'log'
		filePrefix: ''
		datamodel: []

services:
	- Doctrine\ORM\EntityManager::create(%database%,  Doctrine\ORM\Tools\Setup::createAnnotationMetadataConfiguration(["/src/Entity"], true, null, null, false))
	- Kapcus\DbChanger\Model\Manager(%dbchanger.outputDirectory%)
	- Kapcus\DbChanger\Model\Loader(%dbchanger.inputDirectory%, %dbchanger.filePrefix%)
	- Kapcus\DbChanger\Model\Generator(%dbchanger.outputDirectory%)
	- Kapcus\DbChanger\Model\Configurator(%dbchanger.datamodel%)
	- Kapcus\DbChanger\Model\DibiExecutor(%dbchanger.logDirectory%)
	- Kapcus\DbChanger\Model\Parser

	- Kapcus\DbChanger\Model\Database\Oracle

	# commands
	- Kapcus\DbChanger\Command\CheckCommand
	- Kapcus\DbChanger\Command\MarkCommand
	- Kapcus\DbChanger\Command\ReinitCommand
	- Kapcus\DbChanger\Command\RegisterCommand
	- Kapcus\DbChanger\Command\InitCommand
	- Kapcus\DbChanger\Command\InstallCommand
	- Kapcus\DbChanger\Command\GenerateCommand
	- Kapcus\DbChanger\Command\StatusCommand
	- Kapcus\DbChanger\Command\DisplayCommand
	- Kapcus\DbChanger\Command\LogCommand